{% extends "base.html" %}
{% block content %}
    <h1>Update a task</h1>
    <div class="container">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group col-4">
                {{ form.title.label }} {{ form.title(class="form-control") }}
            </div>
            <div class="form-group col-4">
                {{ form.description.label }} {{ form.description(class="form-control") }}
            </div>
            <div class="form-group col-4">
                {{ form.executor.label }} {{ form.executor(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-success") }}
        </form>
    </div>
{% endblock %}