{% extends "base.html" %}
{% block content %}
    <h1>Create a Lecture</h1>
    <div class="container">
        <form method="post">
            {{ form.hidden_tag() }}
        <div class="form-group col-4">
            {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>
        <div class="form-group col-4">
            {{ form.content.label }} {{ form.content(class="form-control") }}
        </div>
        <div class="form-group col-4">
            {{ form.course.label }} {{ form.course(class="form-control") }}
        </div>
        <div class="form-group col-4">
                {{ form.submit(class="btn btn-success") }}
        </div>
        </form>
    </div>
{% endblock %}