{% extends "base.html" %}
{% block navbar %}
    <nav class="navbar navbar-light bg-light">
        <ul class="nav">
            <li class="nav-item">
                <a class="navbar-brand" href="#">LearnPeer</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('core.index') }}">
                    Home page
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('courses.get_my_list') }}">Courses</a>
              </li>
            {% if current_user.status == "Teacher" %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('core.get_students') }}">Students</a>
              </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('core.get_teachers') }}">Teachers</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tasks.assigned_tasks') }}">My tasks</a>
                </li>
            {% endif %}
        </ul>
      <ul class="nav justify-content-end">
          <li class="nav-item">
              <a href="{{ url_for('users.logout') }}">Logout</a>
          </li>
      </ul>

    </nav>
    <br>
{% endblock %}